[package]
name = "buaa_api"
version = "0.1.0"
authors = ["Fontlos <fontlos@fontlos.com>"]
edition = "2024"
readme = "Readme.md"

[dependencies]
base64 = "0.22.1"
bytes = "1.11.0"
futures = "0.3.31"
log = "0.4.29"
reqwest = { version = "0.12.26", features = ["cookies", "json"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
time = "0.3.44"

[dev-dependencies]
tokio = { version = "1.48.0", features = ["macros"] }

[features]
default = []
multipart = ["reqwest/multipart"]
